* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    background-color: rgb(0, 132, 255);
    padding: 6px;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

header {
    padding: 20px;
}

.debug {
    border: 1px solid #666;
}

.barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 10px;
}

li {
    list-style: none;
}

header nav a {
    padding: 6px 10px;
    color: black;
}

.container {
    max-width: 1200px;
    padding: 5px;
    margin: auto;
}

#hero{
    margin-bottom: 100px;
}

/*flex*/
.d-flex {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between
}

.align-center {
    align-items: center;
    align-content: center;
}

.align-start {
    align-items: flex-start;
    align-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

/*--*/

/*margini*/
.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-5 {
    margin-right: 5px;
}



.mt-grande{
    margin-top: 100px;
}

.mb-grande{
    margin-top: 100px;
}
/*--*/

.hero-left {
    width: 35%;
}

.hero-right {
    width: 65%;
}

.jumbo {
    max-width: 100%;
}

#hero .container {
    position: relative;
    bottom: -100px;
    padding-top: 50px;
}

#hero {
    background-color: rgb(157, 209, 228);
}

.container-piccolo {
    width: 1000px;
    padding: 5px;
    margin: auto;
}

.border-colonne{
    border: 1px solid #666;
}

.colonne {
    width: calc(100% / 3 - 20px);
}

.colonne-header {
    border-bottom: 1px solid #666;
    padding: 10px 0;
}

.colonne-main {
    padding: 10px;
}

.br-bottom {
    border: 1px solid #666;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.padding-generale {
    padding: 20px;
}

section #partner{
    width: 100%;
}

.font-size{
    font-size: 30px;
}

.border-gray{
    border: 1px solid #666;
    padding: 10px;
}
/* Opeazioni con dropbox*/

.dropbox-foto{
    max-width: 100%;
}

section #h3-dropbox div h3{
    font-size: 28px;
}

/*--*/

/* MARCHI */

.width-m{
    width: calc(100% / 3);
    height: calc(100vw / 3 );
}

.width-piccolo{
    width: calc(100% / 2);
}

.scala-foto{
    width: 60%; 
}

.foto-florida{
    height: 60%;
}

.designt-b{
    background-color: rgb(163, 211, 156);
}
.asu{
    background-color: rgb(98, 10, 45);
}

.florida{
    background-color: rgb(0, 146, 205);
}

.topps{
    background-color: rgb(255, 34, 34);
}

.wordl-bicicle{
    background-color: rgb(212, 0, 36);
}

.hearst{
    background-color: rgb(178, 207, 230);
}

.lonely{
    background-color: rgb( 21, 45,128);
}

.clear-channel{
    background-color: rgb(255, 215, 51);
}
/*--*/
.celeste{
    background-color: rgb(157, 209, 228);
}

.box-bianco{
    background-color: white;
    padding: 10px;
    color: black

}

/*footer*/
footer {
    background-color: black;
    padding: 30px 0;
    color: white;
}

